@page "/authenticate";

@using BooksLibrary.Web.Contracts;
@using BooksLibrary.Web.Utils;
@using BooksLibrary.Web.Utils.Security;
@using BooksLibrary.Web.ViewModel;

@inject IAuthContract LoginContract;
@inject NavigationManager Navigation;


<EditForm Model="@loginModel" OnSubmit="@HandleSubmit">
    <InputText @bind-Value="loginModel.Email" />
    <InputText @bind-Value="loginModel.Password" type="password" placeholder="Password" />

    <button type="submit">Submit</button>
</EditForm>


@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    private LoginModel loginModel = new LoginModel();


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
		if (authState?.User?.Identity?.IsAuthenticated ?? false)
		{
			Navigation.NavigateTo("/");
		}
    }


    private async Task HandleSubmit()
    {
        if (!loginModel.IsValid())
            return;

        var result = await LoginContract.Authenticate(loginModel);
        if (result is not null)
        {
            Navigation.NavigateTo("/");
        }
    }
}
