@using BooksLibrary.Model.TO;
@using BooksLibrary.Web.Services;


<div class="card" style="width: 18rem;">
    <img src="@book.CoverUrl" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@book.Title</h5>
        <p class="card-text">@book.Synopsis</p>
    </div>
</div>


@code {
    [Parameter]
    public BookTO book { get; set; }
}
