
<nav>
    <ul>
        <li><NavLink href="" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="books" Match="NavLinkMatch.All">Books</NavLink></li>
        <li><NavLink href="authors" Match="NavLinkMatch.All">Authors</NavLink></li>
    </ul>
</nav>



@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
