@using BooksLibrary.Web.Shared.Icons;


<nav>
    <div class="nav-search-content">
        <SearchIcon />
        <input placeholder="Search..." />
    </div>

    <div class="nav-user-button">
        <picture>
            <img src="https://avatars.githubusercontent.com/u/58381139?v=4" />
        </picture>
    </div>
</nav>


@code {

}
